.title-box {
  font-size: 1rem;
  line-height: 1.5rem;
  display: flex;
}

.title-animation {
  font-weight: normal;
  display: block;
  overflow-x: hidden;
  white-space: nowrap;
  transition: width 500ms ease-out;
}
